---
title: Your Blog name
description: I am writing about my experiences as a naval navel-gazer.
layout: layouts/base.njk
---
{% include "header.njk" %}
<main>
<h1>{{ title }}</h1>
<p>{{ description }}</p>
</main>
{% include "footer.njk" %}