---
title: 11ty Boilerplate
description: 11ty Boilerplate は、11tyを使用してWebサイトを構築するためのテンプレートです。
layout: layouts/base.njk
---
{% include "header.njk" %}
<main>
<h1>{{ title }}</h1>
<p>11ty Boilerplate は、11tyを使用してWebサイトを構築するためのテンプレートです。</p>
</main>
{% include "footer.njk" %}